@charset "utf-8";
/* CSS Document */

body {
	background-image:url(image/fengjing.jpg);
	/*background-size:contain;*/
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}